Source: maximus
Section: gnome
Priority: optional
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
Build-Depends: cdbs, debhelper (>= 5), autotools-dev, gnome-pkg-tools (>= 0.10), libglib2.0-dev (>= 2.15.5), libgtk2.0-dev (>= 2.10.0), libgconf2-dev (>= 2.16.0), libwnck-dev, libgnomeui-dev, libxtst-dev, libfakekey-dev, libxtst-dev
Standards-Version: 3.8.0

Package: maximus
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: x-window-manager
Description: A window management tool
 Maximus is a window manager designed to run one application at a time full
 screen.

